- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		main.page-container
			include blocks/header.pug
			.container
				section.vitrina 
					h1 Арочные навесы
					.breadcrumbs 
						a(href="#") Главная
						.breadcrumbs-arrow >
						a(href="#") Каталог
						.breadcrumbs-arrow >
						a.breadcrumbs-active(href="#") Арочные навесы
					.vitrina__main
						aside.vitrina__aside
							.vitrina__nav 
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Арочные навесы
								a(href="#")
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text(class="active") Двускатные навесы
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Односкатные навесы
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Навесы из поликарбоната
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Навесы из профнастила
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Односкатные навесы
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Навесы из поликарбоната
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Навесы из профнастила
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Односкатные навесы
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Навесы из поликарбоната
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Навесы из профнастила
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Односкатные навесы
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Навесы из поликарбоната
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Навесы из профнастила
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Односкатные навесы
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Навесы из поликарбоната
								a(href="#") 
									.vitrina__nav-ico 
										img(src=img+"vitrina/image 52.png", alt="")
									.vitrina__nav-text Навесы из профнастила
							.vitrina__contacts
								.vitrina__contacts-bg1
									img(src=img+"vitrina/image 50.png", alt="")
								.vitrina__contacts-bg2
									img(src=img+"vitrina/image 17.png", alt="")
								.vitrina__contacts-bg3
									img(src=img+"vitrina/image 21.png", alt="")
								.vitrina__adress 
									.vitrina__contacts-ico
										img(src=img+"map-f.png", alt="")
									.vitrina__contacts-txt 
										.vitrina__contacts-subtitle Наш адрес:
										h4 г. Москва, Потаповский переулок, 5с2
								.vitrina__tell 
									.vitrina__contacts-ico 
										img(src=img+"tell-f.png", alt="")
									.vitrina__contacts-txt  
										.vitrina__contacts-subtitle Наш телефон:
										h4 +7 (916) 945-35-75
										li.vitrina__time Пн-Пт: 9:30-18:30
								.vitrina__mail 
									.vitrina__contacts-ico
										img(src=img+"mail-f.png", alt="")
									.vitrina__contacts-txt  
										.vitrina__contacts-subtitle Наш e-mail:
										h4 newnaves@yandex.ru
						.vitrina__content 
							.vitrina__sort 
								.vitrina__sort-title Сортировка:
								a.active(href="#") По умолчанию
								a(href="#") По цене
								a(href="#") По рейтингу
							.vitrina__items 
								.vitrina__item 
									img(src=img+"vitrina/image 10.png", alt="")
									.vitrina__item-txt
										h3 Навес на крыльцо №19
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
								.vitrina__item 
									img(src=img+"vitrina/image 10 (1).png", alt="")
									.vitrina__item-txt
										h3 Навес на террасу из поликарбоната №20
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
								.vitrina__item 
									img(src=img+"vitrina/image 10 (2).png", alt="")
									.vitrina__item-txt
										h3 Навес веранда на дачю №16
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
								.vitrina__item 
									img(src=img+"vitrina/image 10.png", alt="")
									.vitrina__item-txt
										h3 Навес на крыльцо №19
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
								.vitrina__item 
									img(src=img+"vitrina/image 10 (1).png", alt="")
									.vitrina__item-txt
										h3 Навес на террасу из поликарбоната №20
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
								.vitrina__item 
									img(src=img+"vitrina/image 10 (2).png", alt="")
									.vitrina__item-txt
										h3 Навес веранда на дачю №16
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
								.vitrina__item 
									img(src=img+"vitrina/image 10.png", alt="")
									.vitrina__item-txt
										h3 Навес на крыльцо №19
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
								.vitrina__item 
									img(src=img+"vitrina/image 10 (1).png", alt="")
									.vitrina__item-txt
										h3 Навес на террасу из поликарбоната №20
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
								.vitrina__item 
									img(src=img+"vitrina/image 10 (2).png", alt="")
									.vitrina__item-txt
										h3 Навес веранда на дачю №16
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
								.vitrina__item 
									img(src=img+"vitrina/image 10.png", alt="")
									.vitrina__item-txt
										h3 Навес на крыльцо №19
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
								.vitrina__item 
									img(src=img+"vitrina/image 10 (1).png", alt="")
									.vitrina__item-txt
										h3 Навес на террасу из поликарбоната №20
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
								.vitrina__item 
									img(src=img+"vitrina/image 10 (2).png", alt="")
									.vitrina__item-txt
										h3 Навес веранда на дачю №16
										.vitrina__price 
											.vitrina__price-main 5 500 ₽/м2
											.vitrina__price-old 6 200 ₽/м2
										a.btn(href="#") Заказать
				section.description
					h3 Арочные навесы в Москве: «светлые» решения от «Спецкаркаса»
					p.description__text-40 Укрытие с красивым закруглением на крыше — настоящая находка для обустройства любой уличной, придомовой территории. Площадка под ним полностью защищена от осадков. Это пространство смело можно использовать в качестве зоны отдыха, парковки для автомобиля, козырька над входом и т. д. Особый шик арочному навесу придает крыша, облицованная цветным или прозрачным поликарбонатом — с ней сооружение становится изящным, внешне невесомым.
					.description__green
						.description__green-ico 
							img(src=img+"info.png", alt="")
						.description__green-text Компания «Спецкаркас» предлагает заказать арочные навесы в Москве в десятках вариантах цвета материалов кровли и каркаса. Узнайте о доступных вариантах на бесплатной консультации: +7 (916) 945 35 75
					h3 Навесы арочные: в чем их фишка
					p.description__text-25 Сделать кровлю с красивым, ровным радиусным изгибом — до появления поликарбоната даже для кровельщика высокой квалификации это считалось задачей со звездочкой. Но с материалом из гибкого пластика арочные крыши для временных сооружений стали не менее распространенными, чем односкатные и двускатные. Теперь все эти достоинства кровли полукруглой конфигурации может оценить каждый, кто обзаведется арочным навесом в Москве:
					ul 
						li 
							p <b>Эффект «парения».</b> Дуговая форма при малой толщине поликарбонатных листов создает иллюзию, что крыша такая легкая, что просто парит в воздухе.
						li
							p <b>Увеличенная прочность.</b> Поликарбонат достаточно прочен, а при изгибе он становится еще жестче. Для укладки на кровли арочных навесов, как правило, используют сотовый поликарбонат. Гнутье разрешено только по направлению вдоль ячеек. При поперечном изгибе лист либо сломается сразу, то это произойдет позже из-за температурных деформаций материала.
						li 
							p <b>Светопроницаемость.</b> Через тонкий прозрачный лист проходит до 86% света, а через темный окрашенный — 40% и больше.
						li 
							p <b>Нет риска появления протечек.</b> Место соединения скатов — потенциально слабое место в двускатных укрытиях, так как при сильном ветре не исключено задувание воды в коньковый стык. Конечно, при профессиональном монтаже от «Спецкаркаса» эта опасность минимальна (стык прокладывается особым соединительным профилем). В случае с навесом арочным из поликарбоната ее просто нет, как и самого стыка по верхней линии кровли.
						li 
							p <b>Легкая чистка.</b> Большая часть загрязнений смывается с гладких листов дождевой водой. А остатки налипшей грязи просто удалить с арочного навеса при помощи влажной тряпки (либо окатив поверхности из садового шланга).
					p.description__text-40 Кроме того, арочные навесы образуют покатый склон, с которого хорошо сходит снег. У такой формы есть еще одно преимущество: она способствует снижению ветровой нагрузки.
					.description__green
						.description__green-ico 
							img(src=img+"info.png", alt="")
						.description__green-text Эксплуатировать в Москве арочные навесы от «Спецкаркас» полностью безопасно. Все проекты рассчитываются с учетом климатических особенностей Московской области. Чтобы отмести последние проценты вероятности обрушения, клиент всегда может купить арочный навес усиленной конструкции. Узнайте больше у менеджера: +7 (916) 945 35 75
					h3 Поликарбонат — главный материал для арочного навеса в Москве
					p.description__text-16 Даже если убрать в сторону гибкость, у сотового термопласта есть добрый десяток причин оставаться самым востребованным кровельным покрытием для арочных навесов:
					ul 
						li 
							p <b>Небьющиеся свойства.</b> Ударная прочность листов в 100-200 раз выше, чему оконного стекла.
						li 
							p <b>Без образования опасных осколков.</b> При механическом разрушении пластик не разлетается на фрагменты, контакт с которыми может закончиться резаными травмами.
						li 
							p <b>UV-барьер.</b> Одностороннее покрытие уверенно отражает вредный ультрафиолет, поэтому под арочным навесом из поликарбоната ваша кожа защищена.
						li 
							p <b>Безвредность при уличной эксплуатации.</b> В морозы и жару пластик не выделяет потенциально опасных испарений.
						li 
							p <b>Без атак плесени, насекомых, грызунов.</b> Вредители равнодушны к поликарбонату, а для грибка на листах нет условий для выживания.
					p.description__text-25 Поликарбонат не просто выглядит невесомым. Он действительно очень легкий, поэтому под несущие конструкции не нужно копать и заливать мощный фундамент.
					p.description__text-25 Хотите увидеть, как арочные сооружения смотрятся не на чертеже, а в реальности? Зайдите в нашу галерею — там собраны фото арочных навесов из поликарбоната, которые «Спецкаркас» уже сдал в эксплуатацию заказчикам.
		include blocks/footer.pug
		include blocks/scripts.pug