- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		main.page-container
			section.main-block
				img.main-block__bg(src=img+"идщсллл 1.png", alt="")
				include blocks/header.pug
				.container(class="main-block__sect")
					.main-block__absolute-1
						p Любая форма навеса
					.main-block__absolute-2
						img.abs(src=img+"image 98.png", alt="")
						h4 300+
						p вариантов в каталоге
						a(href="#") 
							img(src=img+"image 97.png", alt="")
					h1 Изготавливаем навесы которые <span>не падают</span>
					.main-block__subtitle <div class="circles"><div class="cirle-3"></div><div class="cirle-2"></div><div class="cirle-1"></div></div><div class="sub-txt">Изготовим металлический навес любой сложности<b> в течении 7 дней с доставкой</b> и установкой в Москве и Московской области</div>
					.flex(class="main-block__params")
						a.btn(href="#")
							img(src=img+"image 8.png", alt="")
							.text
								.w-700 Выбрать навес
								.txt Из нашего каталога
						img.arrow(src=img+"image 48.svg", alt="")
						.main-block__text или 
							a(href="#") пришлите
							span свои параметры для просчёта
					.flex(class="main-block__items")
						.main-block__item
							.main-block__item-images
								img.main-block__item-img(src=img+"2121641585_w640_h640_lobovoe-steklo-scania 1.png", alt="", style="margin-top:27px;")
								img.absol-1(src=img+"image 17.png", alt="")
								.icon 
									img.svg(src=img+"gulk.png", alt="")
							p <b>Бесплатная</b><br> доставка и монтаж
						.main-block__item
							.main-block__item-images
								img.main-block__item-img(src=img+"Silver Shield.H03 1.png", alt="", style="margin-top:5px;")
								img.absol-2(src=img+"image 17 (1).png", alt="")
								.icon 
									img.svg(src=img+"gulk.png", alt="")
							p Расширенная<br> гарантия <b>до 10 лет</b>
						.main-block__item
							.main-block__item-images
								img.main-block__item-img(src=img+"image 16.png", alt="", style="margin-top:25px;")
								.icon 
									img.svg(src=img+"gulk.png", alt="")
							p Изготовим<br> <b>любой</b> размер
			section.catalog(class="container")
				.catalog__subtitle Каталог
				h2 Металлические навесы
				.catalog__items 
					.catalog__item
						a(href="../dist/product.html") 
							img(src=img+"/katalog/image 10.png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (1).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#")
							img(src=img+"/katalog/image 10 (2).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (3).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10(16).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (4).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (5).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (6).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (7).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (17).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (9).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (10).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (11).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (12).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (13).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
					.catalog__item
						a(href="#") 
							img(src=img+"/katalog/image 10 (14).png", alt="")
						.flex 
							.catalog__txt Беседки из поликарбоната
							a(href="#") 
								img(src=img+"arr.png", alt="")
			section.company(class="container")
				img.company__bg(src=img+"image 20.png", alt="")
				img.company__bg-1(src=img+"image 21.png", alt="")
				img.company__bg-2(src=img+"image 22.png", alt="")
				.company__absolute 
					.company__absolute-number 20
					.company__absolute-txt Лет производим металлоконструкции
				.company__subtitle О компании
				h2 Производство <br>металических навесов
				.company__txt «Спецкаркас» — это полный цикл работ с навесами из поликарбоната. Мы проектируем, производим, устанавливаем навесы в Москве и области с 2004 года!
				.flex 
					.company__item
						img(src=img+"Frame 2.png", alt="")
						.company__item-txt 
							h3 Без посредников
							p Вся продукция напрямую с завода
					.company__item
						img(src=img+"Frame 2 (1).png", alt="")
						.company__item-txt 
							h3 По ГОСТу
							p Вся продукция соответствует ГОСТу
					.company__item
						img(src=img+"Frame 2 (2).png", alt="")
						.company__item-txt 
							h3 От 7 дней
							p Изготовление навесов от 7 дней
			section.production
				img.production__fon(src=img+"23.png", alt="")
				img.production__bg(src=img+"image 99.png", alt="")
				.container
					.production__subtitle Производство полного цикла
					h2 От проектирования до доставки и монтажа
					.production__txt Наша производственная фирма производит и устанавливает в Московской области и Москве навесы из поликарбоната самых разных видов. Это парковки, крытые зоны отдыха и барбекю, козырьки над входом, отдельно стоящие и пристроенные укрытия, беседки. Мы предлагаем сотни проектов арочных, односкатных, двускатных сооружений для установки на частных и коммерческих площадях.
					a(href="#") Узнать Подробнее
					.flex 
						.production__item
							.production__item-number 350
							p Производим<br> навесов<br> ежемесячно
						.production__item(class="production__item-green")
							.production__item-number 20
							p Монтажных<br> бригад с опытом<br> работы от 3 лет
						.production__item 
							.production__item-number 18 000
							p Изготовленно<br> и установлено<br> навесов
						.production__item(class="production__item-green")
							.production__item-number 76
							p Процентов<br> клиентов по<br> рекомендациям
				.delivery
					.container
						img.delivery__man(src=img+"man.png", alt="")
						.delivery-cart
							.delivery__subtitle Доставим и установим
							.delivery__title Бесплатная доставка и установка
							.delivery__txt Бесплатно доставим и смонтируем металлический навес или козырёк по Москве и области. Бесплатная доставка осуществляется в пределах 20 км от МКАД
							.delivery__rub 0₽
							img.delivery__bg-1(src=img+"kust-1.png", alt="")
							img.delivery__bg-2(src=img+"kust-2.png", alt="")
							img.delivery__bg-3(src=img+"kust-3.png", alt="")
							img.delivery__car(src=img+"car.png", alt="")
			section.gallery
				.container
					.gallery__subtitle Фотогаллерея
					.flex
						h2.gallery__title Наши работы
						.swiper-arrow
							.prev__wrapper
								.swiper-button-prev
							.next__wrapper
								.swiper-button-next
					.swiper-container(class="mySwiper")
						.swiper-wrapper
							.swiper-slide
								img(src=img+"gallery/image 10.png", alt="")
							.swiper-slide
								img(src=img+"gallery/image 10 (1).png", alt="")
							.swiper-slide
								img(src=img+"gallery/image 10 (2).png", alt="")
							.swiper-slide
								img(src=img+"gallery/image 10 (3).png", alt="")
							.swiper-slide
								img(src=img+"gallery/image 10.png", alt="")
							.swiper-slide
								img(src=img+"gallery/image 10 (1).png", alt="")
							.swiper-slide
								img(src=img+"gallery/image 10 (2).png", alt="")
							.swiper-slide
								img(src=img+"gallery/image 10 (3).png", alt="")
			section.models 
				.container
					.models__subtitle Новые модели
					.flex 
						h2.models__title Новинки каталога
						a(href="#") Все новинки
							img(src=img+"arr-2.png", alt="")
					.models__items
						.models__item
							img(src=img+"models/image 10.png", alt="")
							.models__txt
								p Навес на крыльцо №19
								.models__price 
									.models__price-main 5 500 ₽/м2
									.models__price-old 6 200 ₽/м2
								a(href="#") Заказать
						.models__item
							img(src=img+"models/image 10 (1).png", alt="")
							.models__txt
								p Навес на террасу из поликарбоната №20
								.models__price 
									.models__price-main 5 500 ₽/м2
									.models__price-old 6 200 ₽/м2
								a(href="#") Заказать
						.models__item
							img(src=img+"models/image 10 (2).png", alt="")
							.models__txt
								p Навес веранда на дачю №16
								.models__price 
									.models__price-main 5 500 ₽/м2
									.models__price-old 6 200 ₽/м2
								a(href="#") Заказать
						.models__item
							img(src=img+"models/image 10 (3).png", alt="")
							.models__txt
								p Навес на террасу из поликарбоната №20
								.models__price 
									.models__price-main 5 500 ₽/м2
									.models__price-old 6 200 ₽/м2
								a(href="#") Заказать
						.models__item
							img(src=img+"models/image 10 (4).png", alt="")
							.models__txt
								p Навес на террасу из поликарбоната №20
								.models__price 
									.models__price-main 5 500 ₽/м2
									.models__price-old 6 200 ₽/м2
								a(href="#") Заказать
						.models__item
							img(src=img+"models/image 10 (5).png", alt="")
							.models__txt
								p Навес веранда на дачю №16
								.models__price 
									.models__price-main 5 500 ₽/м2
									.models__price-old 6 200 ₽/м2
								a(href="#") Заказать
						.models__item
							img(src=img+"models/image 10 (6).png", alt="")
							.models__txt
								p Навес на крыльцо №19
								.models__price 
									.models__price-main 5 500 ₽/м2
									.models__price-old 6 200 ₽/м2
								a(href="#") Заказать
						.models__item
							img(src=img+"models/image 10 (7).png", alt="")
							.models__txt
								p Навес на террасу из поликарбоната №20
								.models__price 
									.models__price-main 5 500 ₽/м2
									.models__price-old 6 200 ₽/м2
								a(href="#") Заказать
			section.video(class="container")
				.video__subtitle ПОСЛЕДНИЕ ВИДЕО
				.flex 
					h2.video__title Монтаж и производство
					a(href="#") смотреть все видео
						img(src=img+"arr-2.png", alt="")
				.video__block 
					.video__main 
						img(src=img+"video/Rectangle 131.png", alt="")
						a.video__main-absolute(href="#")
							.video__main-svg
								<svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9.42993 4.70127C10.4299 5.27863 10.4299 6.722 9.42993 7.29935L2.40993 11.3523C1.40993 11.9297 0.159932 11.208 0.159932 10.0533L0.159932 1.94731C0.159932 0.792611 1.40993 0.0709248 2.40993 0.648275L9.42993 4.70127Z" fill="white"/>
								</svg>
							p Нажмите, чтобы посмотреть видео
					.video__scroll 
						.video__item 
							a.video__item-image(href="#") 
								img(src=img+"video/Rectangle 133.png", alt="")
								.video__item-absolute 
									<svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.42993 4.70127C10.4299 5.27863 10.4299 6.722 9.42993 7.29935L2.40993 11.3523C1.40993 11.9297 0.159932 11.208 0.159932 10.0533L0.159932 1.94731C0.159932 0.792611 1.40993 0.0709248 2.40993 0.648275L9.42993 4.70127Z" fill="white"/>
									</svg>
							.video__item-text Навес из поликарбоната для машины | Навесы из поликарбоната Спецкаркас
						.video__item 
							a.video__item-image(href="#") 
								img(src=img+"video/Rectangle 133.png", alt="")
								.video__item-absolute 
									<svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.42993 4.70127C10.4299 5.27863 10.4299 6.722 9.42993 7.29935L2.40993 11.3523C1.40993 11.9297 0.159932 11.208 0.159932 10.0533L0.159932 1.94731C0.159932 0.792611 1.40993 0.0709248 2.40993 0.648275L9.42993 4.70127Z" fill="white"/>
									</svg>
							.video__item-text Навес из поликарбоната для машины | Навесы из поликарбоната Спецкаркас
						.video__item 
							a.video__item-image(href="#") 
								img(src=img+"video/Rectangle 133.png", alt="")
								.video__item-absolute 
									<svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.42993 4.70127C10.4299 5.27863 10.4299 6.722 9.42993 7.29935L2.40993 11.3523C1.40993 11.9297 0.159932 11.208 0.159932 10.0533L0.159932 1.94731C0.159932 0.792611 1.40993 0.0709248 2.40993 0.648275L9.42993 4.70127Z" fill="white"/>
									</svg>
							.video__item-text Навес из поликарбоната для машины | Навесы из поликарбоната Спецкаркас
						.video__item 
							a.video__item-image(href="#") 
								img(src=img+"video/Rectangle 133.png", alt="")
								.video__item-absolute 
									<svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.42993 4.70127C10.4299 5.27863 10.4299 6.722 9.42993 7.29935L2.40993 11.3523C1.40993 11.9297 0.159932 11.208 0.159932 10.0533L0.159932 1.94731C0.159932 0.792611 1.40993 0.0709248 2.40993 0.648275L9.42993 4.70127Z" fill="white"/>
									</svg>
							.video__item-text Навес из поликарбоната для машины | Навесы из поликарбоната Спецкаркас
						.video__item 
							a.video__item-image(href="#") 
								img(src=img+"video/Rectangle 133.png", alt="")
								.video__item-absolute 
									<svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.42993 4.70127C10.4299 5.27863 10.4299 6.722 9.42993 7.29935L2.40993 11.3523C1.40993 11.9297 0.159932 11.208 0.159932 10.0533L0.159932 1.94731C0.159932 0.792611 1.40993 0.0709248 2.40993 0.648275L9.42993 4.70127Z" fill="white"/>
									</svg>
							.video__item-text Навес из поликарбоната для машины | Навесы из поликарбоната Спецкаркас
			section.map
				img.map__bg(src=img+"map.png", alt="")
				.container 
					.map__block 
						.map__subtitle РЕГИОНЫ РАБОТЫ
						h2.map__title Работаем по Москве<br> и Московской области
						.map__txt Осуществляем доставку и устанавку металлических навесов из поликарбоната по Москве и всей Московской области. Доставка в регионы осуществляется посредством привлечения любой из транспортных компаний
						a.btn(href="#") Заказать навес
			section.baner-main(class="container")
				.baner-main__text 
					h3 <div>300+</div> проектов в каталоге
					p Готовые проекты навесов - сэкономят Вам время и деньги
				img(src=img+"kat.png", alt="")
				a.btn(href="#") полный каталог
			section.project(class="container")
				.flex 
					.project__left 
						img.project__left-img(src=img+"image 47.png", alt="")
						img.project__left-absolute(src=img+"kust-4.png", alt="")
						.project__absolute 
							img(src=img+"image 28.png", alt="")
							.project__absolute-text 
								p При заказе навеса
								h3 3D проект <span>в подарок</span>
					.project__right 
						h2.project__title Не можете определиться с видом навеса?
						.project__txt Оставьте заявку на 3D-проект Вашего навеса бесплатно и посмотрите, как он будет выглядеть на Вашем участке
						a.btn(href="") ЗАказать 3D проект бесплатно
				.project__items 
					.project__item
						h3 9 цветов
						p поликарбоанта
						img(src=img+"image 43.png", alt="")
					.project__item
						h3 25 цветов
						p металлочерепицы
						img(src=img+"image 44.png", alt="")
					.project__item
						h3 47 цветов
						p профнастила
						img(src=img+"image 45.png", alt="")
					.project__item
						h3 213 цветов
						p для окраса каркаса
						img(src=img+"image 46.png", alt="")
			section.article(class="container")
				.article__subtitle ПОЛЕЗНЫЕ СТАТЬИ
				.flex 
					h2.article__title Последние статьи
					a(href="#") все статьи
						img(src=img+"arr-2.png", alt="")
				.article__items
					.article__item
						img(src=img+"article/image 10.png", alt="")
						.article__item-txt
							.article__item-date 9 Февраля 2022
							h4 Выбираем комплектующие для поликарбоната
							p Купить поликарбонат для навеса – еще полдела. Стоит позаботиться о дополнительных комплектующих, которые упрощают сборку конструкции
							a(href="#") узнать Подробнее
					.article__item
						img(src=img+"article/image 10 (1).png", alt="")
						.article__item-txt
							.article__item-date 9 Февраля 2022
							h4 Навесы для автомобиля
							p Купить навес в Москве для автомобиля хотели бы как жители квартир, так и владельцы частных домов
							a(href="#") узнать Подробнее
					.article__item
						img(src=img+"article/image 10 (2).png", alt="")
						.article__item-txt
							.article__item-date 9 Февраля 2022
							h4 Они купили поликарбонат – и сразу отказались от стекла. Почему?
							p В чем разница между стеклянными панелями и листами поликарбоната
							a(href="#") узнать Подробнее
			section.cost-online
				img.cost-online__bg(src=img+"image 49.png", alt="")
				.container
					img.cost-online__kust-1(src=img+"imgae 50.png", alt="")
					img.cost-online__kust-2(src=img+"image 51.png", alt="")
					h2.cost-online__title Мы предоставляем вам самые низкие цены на навесы, которые в течение 30 лет: 
					.flex 
						.cost-online__item
							.cost-online__item-ico 
								img(src=img+"image 52.png", alt="")
							p Не упадут
						.cost-online__item
							.cost-online__item-ico 
								img(src=img+"image 52.png", alt="")
							p Не облезут
						.cost-online__item
							.cost-online__item-ico 
								img(src=img+"image 52.png", alt="")
							p Не протекут
					.cost-online__gost ГОСТ Р ИСО 4355-2016
					a.btn(href="#") Узнать стоимость онлайн
					.accordion
						.accordion__tab
							input(type="checkbox" id="tab1" name="tab-group")
							label(for="tab1" class="tab-title") Как легко построить навес из поликарбоната в Москве?
							.accordion__content 
								p pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim
						.accordion__tab
							input(type="checkbox" id="tab2" name="tab-group")
							label(for="tab2" class="tab-title") «Спецкаркас» — навесы из поликарбоната в Москве и МО
							.accordion__content 
								p pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim
						.accordion__tab
							input(type="checkbox" id="tab3" name="tab-group")
							label(for="tab3" class="tab-title") Чем хорош поликарбонат в роли облицовки для навеса в Москве
							.accordion__content 
								p pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim
						.accordion__tab
							input(type="checkbox" id="tab4" name="tab-group")
							label(for="tab4" class="tab-title") Как мы проводим установку навесов из поликарбоната
							.accordion__content 
								p pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim
						.accordion__tab
							input(type="checkbox" id="tab5" name="tab-group")
							label(for="tab5" class="tab-title") Как рассчитываются цены на навесы из поликарбоната
							.accordion__content 
								p pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim
						.accordion__tab
							input(type="checkbox" id="tab6" name="tab-group")
							label(for="tab6" class="tab-title") Почему стоит купить навес из поликарбоната от «Спецкаркас»
							.accordion__content 
								p pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim
					
					
		include blocks/footer.pug
		include blocks/scripts.pug